$theme_color=#ff6700
$core_width=1226px
body
    background-color #14212a
    header
        width 100%
        background-color: #fff
        .logo_box
            width $core_width
            height 100px
            line-height 100px
            margin 0 auto
            img
                width 200px
    .login_section
        width 100%
        height 588px
        margin 0 auto
        .login_wrap
            position relative
            width $core_width
            height 100%
            margin 0 auto
            background url(../img/login_bg.jpg) no-repeat center center
            .login_box
                position absolute
                top 30px
                right 0
                width 400px
                height 470px
                background-color #444
                box-sizing border-box
                padding 10px 20px
                header
                    display flex
                    justify-content space-between
                    padding-bottom 8px
                    border-bottom 2px solid $theme_color
                    background-color #444
                    h3
                        height 40px
                        line-height 40px
                        font-size 20px
                        font-weight 700
                        color #fff
                    h4
                        height 40px
                        line-height 40px
                        font-size 12px
                        font-weight 700
                        a
                            color red
                            &:hover
                                color $theme_color
                        span
                            color #fff
                form
                    position relative
                    display flex
                    flex-direction column
                    justify-content center
                    width 400px
                    height 260px
                    border-radius 6px
                    padding-top 40px
                    box-sizing border-box
                    button
                        position absolute
                        left 80px
                        top 100%
                        transform translateY(20px)
                        width 240px
                        height 45px
                        font-size 20px
                        font-weight 700
                        color: #fff
                        background-color: $theme_color
                        border 1px solid $theme_color
                        &:hover
                            border 1px solid #444
                    label
                        margin 20px 0
                        height 40px
                        line-height 40px
                        display flex
                        color #fff
                        input
                            width 220px
                            height 30px
                            margin-right 20px
                            padding 5px 10px
                            border 1px solid #ccc
                        &.check_box
                            input
                                width 100px
                            .check_code
                                width 98px
                        span:first-child
                            display block
                            width 80px
                            text-align right
    footer
        width 100%
        height 140px
        display flex
        flex-direction column
        align-items center
        justify-content center
        
        background-color #fff
        ul
            li
                float left
                font-size 12px
                color #000
                padding 0 8px
        .bototm_box
            font-size 12px
            color #000
            img
                display inline
                position relative
                top 4px