body >header {
  height: 40px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}
body >header .top_box {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
}
body >header .top_box >ul {
  float: left;
  width: 70%;
  height: 40px;
}
body >header .top_box >ul >li {
  float: left;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
  color: #b0b0b0;
}
body >header .top_box >ul >li:first-child {
  padding: 0 8px;
}
body >header .top_box >ul >li:last-child {
  border-right: 0 none;
}
body >header .top_box >ul >li:hover a {
  color: #fff;
}
body >header .top_box >ul >li a {
  color: #b0b0b0;
  font-size: 12px;
}
body >header .top_box div {
  float: right;
  height: 100%;
}
body >header .top_box div >ul {
  float: left;
  width: 160px;
}
body >header .top_box div >ul .cur_show {
  display: block;
}
body >header .top_box div >ul >li {
  cursor: pointer;
  display: none;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
  color: #b0b0b0;
}
body >header .top_box div >ul >li:first-child {
  padding: 0 8px;
}
body >header .top_box div >ul >li:last-child {
  border-right: 0 none;
}
body >header .top_box div >ul >li:hover a {
  color: #fff;
}
body >header .top_box div >ul >li a {
  color: #b0b0b0;
  font-size: 12px;
}
body >header .top_box div .top_right_shopcar {
  float: right;
  width: 120px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  margin: 0 16px;
  background-color: #ff6700;
}
body >header .top_box div .top_right_shopcar:hover {
  background-color: #666;
}
body >header .top_box div .top_right_shopcar a {
  font-size: 12px;
  line-height: 1em;
  color: #fff;
}
body >header .top_box div .top_right_shopcar a .iconfont {
  position: relative;
  top: 2px;
  left: -2px;
}
body >section {
  width: 100%;
}
body .nav_section {
  height: 100px;
}
body .nav_section .second_box {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
}
body .nav_section .second_box div,
body .nav_section .second_box ul {
  float: left;
  line-height: 100px;
}
body .nav_section .second_box .imgs {
  width: 234px;
  height: 100px;
  display: flex;
  align-items: center;
}
body .nav_section .second_box .imgs img:first-child {
  width: 50px;
}
body .nav_section .second_box >ul>li {
  float: left;
  cursor: pointer;
}
body .nav_section .second_box >ul>li:hover a {
  color: #ff6700;
}
body .nav_section .second_box >ul>li >a {
  padding: 0 10px;
  font-size: 16px;
}
body .nav_section .second_box .right_search {
  float: right;
}
body .nav_section .second_box .right_search input {
  width: 250px;
  height: 50px;
  padding: 0 4px 0 2px;
  border: 1px solid #b0b0b0;
}
body .nav_section .second_box .right_search button {
  width: 52px;
  height: 52px;
  border: 1px solid #b0b0b0;
  background-color: #fff;
  cursor: pointer;
  line-height: 52px;
}
body .phone_list_section {
  width: 100%;
  margin-top: 20px;
}
body .phone_list_section .phone_list_box {
  width: 1226px;
  margin: 0 auto;
}
body .phone_list_section .phone_list_box h3 {
  width: 100%;
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  font-weight: 700;
}
body .phone_list_section .phone_list_box .phone_list {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}
body .phone_list_section .phone_list_box .phone_list li {
  width: 230px;
  height: 340px;
  margin-bottom: 10px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
}
body .phone_list_section .phone_list_box .phone_list li:hover {
  border: 2px solid #ff6700;
}
body .phone_list_section .phone_list_box .phone_list li .phone_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .phone_list_section .phone_list_box .phone_list li .phone_box img {
  width: 160px;
  height: 160px;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.85;
}
body .phone_list_section .phone_list_box .phone_list li .phone_box img:hover {
  opacity: 1;
}
body .phone_list_section .phone_list_box .phone_list li .phone_box .phone_name {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  color: #333;
  text-align: center;
}
body .phone_list_section .phone_list_box .phone_list li .phone_box .phone_info {
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  color: #b0b0b0;
  text-align: center;
  margin: 15px 0;
}
body .phone_list_section .phone_list_box .phone_list li .phone_box .phone_price {
  font-size: 14px;
  color: #ff6700;
  text-align: center;
}
body footer {
  width: 100%;
  height: 180px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #fafafa;
}
body footer .nav_ul li {
  float: left;
  padding: 0 4px;
}
body footer .backpack {
  margin: 15px 0;
}
