* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Times New Roman";
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.unSelectedAble {
/* 内容不可以被选中 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  border: none;
  display: block;
}
a {
  border: none;
  text-decoration: none;
  color: #000;
}
.my_bold {
  font-weight: bold !important;
}
