body >header {
  height: 40px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}
body >header .top_box {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
}
body >header .top_box >ul {
  float: left;
  width: 70%;
  height: 40px;
}
body >header .top_box >ul >li {
  float: left;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
  color: #b0b0b0;
}
body >header .top_box >ul >li:first-child {
  padding: 0 8px;
}
body >header .top_box >ul >li:last-child {
  border-right: 0 none;
}
body >header .top_box >ul >li:hover a {
  color: #fff;
}
body >header .top_box >ul >li a {
  color: #b0b0b0;
  font-size: 12px;
}
body >header .top_box div {
  float: right;
  height: 100%;
}
body >header .top_box div >ul {
  float: left;
  width: 160px;
}
body >header .top_box div >ul .cur_show {
  display: block;
}
body >header .top_box div >ul >li {
  cursor: pointer;
  display: none;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
  color: #b0b0b0;
}
body >header .top_box div >ul >li:first-child {
  padding: 0 8px;
}
body >header .top_box div >ul >li:last-child {
  border-right: 0 none;
}
body >header .top_box div >ul >li:hover a {
  color: #fff;
}
body >header .top_box div >ul >li a {
  color: #b0b0b0;
  font-size: 12px;
}
body >header .top_box div .top_right_shopcar {
  float: right;
  width: 120px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  margin: 0 16px;
  background-color: #ff6700;
}
body >header .top_box div .top_right_shopcar:hover {
  background-color: #666;
}
body >header .top_box div .top_right_shopcar a {
  font-size: 12px;
  line-height: 1em;
  color: #fff;
}
body >header .top_box div .top_right_shopcar a .iconfont {
  position: relative;
  top: 2px;
  left: -2px;
}
body >section {
  width: 100%;
}
body .shop_title_section {
  height: 100px;
  border-bottom: 2px solid #ff6700;
}
body .shop_title_section .shop_title_box {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
body .shop_title_section .shop_title_box img {
  width: 50px;
  height: 54px;
}
body .shop_title_section .shop_title_box h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-left: 40px;
}
body .shop_title_section .shop_title_box span {
  font-size: 12px;
  font-weight: 400;
  color: #777;
  margin-left: 20px;
}
body .shop_section {
  height: 400px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}
body .shop_section .shop_box {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
}
body .shop_section .shop_box .product_list_desc {
  width: 100%;
  height: 90px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: center;
}
body .shop_section .shop_box .product_list_desc input {
  width: 18px;
  height: 18px;
}
body .shop_section .shop_box .product_list_desc label {
  width: 100px;
  margin-left: 30px;
}
body .shop_section .shop_box .product_list_desc span {
  width: 100px;
}
body .shop_section .shop_box .product_list_desc .product_name {
  margin-left: 100px;
}
body .shop_section .shop_box .product_list_desc .product_price {
  margin-left: 300px;
}
body .shop_section .shop_box .product_list_desc .product_num {
  margin-left: 60px;
}
body .shop_section .shop_box .product_list_desc .product_money {
  margin-left: 60px;
}
body .shop_section .shop_box .product_list_desc .product_manage {
  margin-left: 80px;
}
body .shop_section .shop_box .product_list {
  width: 100%;
}
body .shop_section .shop_box .product_list >li {
  width: 100%;
}
body .shop_section .shop_box .product_list >li >ul {
  width: 100%;
}
body .shop_section .shop_box .product_list >li >ul >li {
  width: 100%;
  height: 120px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  align-items: center;
}
body .shop_section .shop_box .product_list >li >ul >li input {
  width: 18px;
  height: 18px;
}
body .shop_section .shop_box .product_list >li >ul >li label:first-child {
  width: 50px;
  margin-left: 30px;
}
body .shop_section .shop_box .product_list >li >ul >li .product_img {
  width: 80px;
  height: 80px;
  margin-left: 35px;
}
body .shop_section .shop_box .product_list >li >ul >li .product_name {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  width: 330px;
  margin-left: 20px;
}
body .shop_section .shop_box .product_list >li >ul >li .product_price {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  width: 50px;
  margin-left: 60px;
}
body .shop_section .shop_box .product_list >li >ul >li .product_num {
  margin-left: 115px;
}
body .shop_section .shop_box .product_list >li >ul >li .product_num input {
  width: 70px;
  height: 35px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 16px;
  color: #ff6700;
}
body .shop_section .shop_box .product_list >li >ul >li .product_money {
  width: 80px;
  font-size: 16px;
  font-weight: 400;
  color: #ff6700;
  margin-left: 95px;
}
body .shop_section .shop_box .product_list >li >ul >li .product_manage {
  font-size: 25px;
  font-weight: 400;
  color: #000;
  width: 50px;
  margin-left: 114px;
}
body .shop_section .shop_box .product_list >li >ul >li .product_manage:hover {
  color: #ff6700;
}
body .shop_section .shop_box .product_action {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .shop_section .shop_box .product_action .left_action {
  margin-left: 20px;
}
body .shop_section .shop_box .product_action .left_action a {
  font-size: 14px;
  color: #666;
}
body .shop_section .shop_box .product_action .left_action a:hover {
  color: #ff6700;
}
body .shop_section .shop_box .product_action .left_action >span {
  font-size: 14px;
  color: #666;
  margin-left: 20px;
}
body .shop_section .shop_box .product_action .left_action >span >span {
  color: #ff6700;
}
body .shop_section .shop_box .product_action .right_action {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .shop_section .shop_box .product_action .right_action >span {
  font-size: 14px;
  color: #ff6700;
}
body .shop_section .shop_box .product_action .right_action >span >span {
  font-size: 24px;
  font-weight: 700;
  font-weight: bold;
}
body .shop_section .shop_box .product_action .right_action >button {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #ff6700;
  font-size: 20px;
  border: 0 none;
}
body .shop_section .shop_box .product_action .right_action >button:hover {
  background-color: #f25807;
}
body footer {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #fafafa;
}
body footer .nav_ul li {
  float: left;
  padding: 0 4px;
}
body footer .backpack {
  margin: 15px 0;
}
