$top_font_color=#b0b0b0
$theme_color=#ff6700
$core_width=1226px
body
    >header
        height 40px
        width 100%
        background-color rgba(0, 0, 0, 0.8)
        .top_box
            width $core_width
            height 100%
            margin 0 auto
            >ul
                float left
                width 70%
                height 40px
                >li
                    float left
                    cursor pointer
                    height 40px
                    line-height 40px
                    padding 0 4px
                    color $top_font_color
                    &:first-child
                        padding 0 8px
                    &:last-child
                        border-right 0 none
                    &:hover
                        a
                            color #fff
                    a
                        color $top_font_color
                        font-size 12px
            div
                float right
                height 100%
                >ul
                    float left
                    width 160px
                    .cur_show
                        display block
                    >li
                        cursor pointer
                        display none
                        float left
                        height 40px
                        line-height 40px
                        padding 0 4px
                        color $top_font_color
                        &:first-child
                            padding 0 8px
                        &:last-child
                            border-right 0 none
                        &:hover
                            a
                                color #fff
                        a
                            color $top_font_color
                            font-size 12px
                .top_right_shopcar
                    float right
                    width 120px
                    height 41px
                    line-height 41px
                    text-align center
                    margin 0 16px
                    background-color $theme_color
                    &:hover
                        background-color #666
                    a
                        font-size 12px
                        line-height 1em
                        color #fff
                        .iconfont
                            position relative
                            top 2px
                            left -2px
                            
                            
    >section
        width 100%
        
    .nav_section
        height 100px
        .second_box
            width $core_width
            height 100px
            margin 0 auto
            div,ul
                float left
                line-height 100px
            .imgs
                width 234px
                height 100px
                display flex
                align-items center
                img:first-child
                    width 50px
            >ul>li
                float left
                cursor pointer
                &:hover
                    a
                        color $theme_color
                >a
                    padding 0 10px
                    font-size 16px
            .right_search
                float right
                input
                    width 250px
                    height 50px
                    padding 0 4px 0 2px
                    border 1px solid $top_font_color
                button
                    width 52px
                    height 52px
                    border 1px solid $top_font_color
                    background-color #fff
                    cursor pointer
                    line-height 52px
    
                    
                    
    .user_section
        height 500px
        padding 20px 0
        background-color: #f5f5f5
        .user_box
            width $core_width
            height 100%
            margin 0 auto
            display flex
            justify-content space-between
            
            .left_nav
                width 234px
                height 100%
                background-color: #fff
                >ul
                    margin 30px 0 0 40px
                    &:last-child
                        margin-top 30px
                    li
                        &:first-child
                            margin-bottom 10px
                            color #333
                        height 40px
                        line-height 40px
                        font-size 18px
                        a
                            font-size 16px
                            color #757575
                        &:hover a
                            color #000
                        &.active
                            a
                                font-weight 700
                                color $theme_color
                                
                                
            .right_detail
                width 978px
                height 100%
                background-color: #fff
                h3
                    height 60px
                    margin-left 40px
                    line-height 60px
                    font-size 20px
                    font-weight 400
                    color #757575
                .my_info
                    display flex
                    flex-direction column
                    align-items center
                    li
                        width 900px
                        height 45px
                        margin-top 10px
                        line-height 45px
                        border 1px solid #aaa
                        border-radius 4px
                        background-color #fdfdfd
                        display flex
                        justify-content space-between
                        .info_field
                            width 70px
                            height 100%
                            padding-left 20px
                            font-size 14px
                            font-weight 700
                            color #757575
                        .info_content
                            width 480px
                            height 100%
                            padding-left 120px
                            font-size 14px
                            font-weight 400
                            color #757575
                        >a
                            width 160px
                            height 100%
                            margin-right 50px
                            text-align right
                            font-size 14px
                            font-weight 400
                            color #008080
                            &:hover
                                color $theme_color
    footer
        width 100%
        height 180px
        margin-top 20px
        display flex
        flex-direction column
        justify-content center
        align-items center
        
        font-size 12px
        background-color #fafafa
        .nav_ul
            li
                float left
                padding 0 4px
        .backpack
            margin 15px 0