/*header*/
header {
  width: 100%;
  height: 40px;
  background: #333;
}
header .top {
  width: 1226px;
  height: 40px;
  line-height: 40px;
}
header .top .left ul li {
  float: left;
  font-size: 12px;
  color: #ccc;
}
header .top .left ul li a {
  display: block;
  padding: 0 8px;
  font-size: 12px;
  font-family: Times New Roman;
  color: #b0b0b0;
}
header .top .left ul li a:hover {
  color: #fff;
}
header .top .right ul li {
  float: left;
  font-size: 12px;
  color: #ccc;
}
header .top .right ul li a {
  display: block;
  padding: 0 8px;
  font-size: 12px;
  font-family: Times New Roman;
  color: #b0b0b0;
}
header .top .right ul li a:hover {
  color: #fff;
}
header .top .right .gouwuche {
  margin: 0 20px;
  background: #424242;
  width: 120px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  background: #ff6700;
  color: #fff;
}
header .top .right .gouwuche a {
  color: #fff;
}
header .top .right .gouwuche:hover {
  color: #000;
  background: #666;
}
/*banner_x*/
.banner_x {
  width: 1226px;
  height: 100px;
}
.banner_x .logo {
  background: url("../image/logo_top.png") no-repeat center center;
  width: 50px;
  height: 100px;
}
.banner_x .ad_top {
  width: 180px;
  height: 100px;
  background: url("../image/yyymix.gif") no-repeat center center;
}
.banner_x .nav ul li {
  float: left;
  height: 100px;
  line-height: 100px;
}
.banner_x .nav ul li a {
  display: inline-block;
  color: #000;
  font-size: 16px;
  padding: 0 10px;
}
.banner_x .nav ul li a:hover {
  color: #ff6700;
}
.banner_x .search {
  width: 308px;
  height: 100px;
  line-height: 100px;
}
.banner_x .search .text {
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  margin-top: 25px;
  border: 1px solid #ccc;
}
.banner_x .search .text:hover {
  border-color: #ff6700;
}
.banner_x .search .text .shuru {
  border: none;
  width: 250px;
  height: 50px;
}
.banner_x .search .submit {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  margin-top: 25px;
  border: 1px solid #ccc;
}
.banner_x .search .submit .sousuo {
  letter-spacing: 3px;
  text-align: center;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
}
.banner_x .search .submit:hover {
  border-color: #ff6700;
  color: #ff6700;
}
/*个人中心*/
.grzxbj {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding-bottom: 20px;
  padding-top: 20px;
}
.grzxbj .selfinfo {
  width: 1226px;
}
.grzxbj .selfinfo .lfnav {
  width: 234px;
  height: 500px;
  background: #fff;
}
.grzxbj .selfinfo .lfnav .ddzx {
  width: 234px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  margin: 30px 20px 10px 40px;
  color: #333;
}
.grzxbj .selfinfo .lfnav .subddzx ul li {
  display: block;
  width: 194px;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
}
.grzxbj .selfinfo .lfnav .subddzx ul li a {
  color: #757575;
}
.grzxbj .selfinfo .lfnav .subddzx ul li a:hover {
  color: #333;
}
.grzxbj .selfinfo .rtcont {
  width: 978px;
  height: 500px;
  background: #fff;
}
.grzxbj .selfinfo .rtcont .grzlbt {
  width: 938px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #757575;
}
.grzxbj .selfinfo .rtcont .subgrzl {
  height: 45px;
  line-height: 45px;
  width: 900px;
  background: #fdfdfd;
  border: 1px solid #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.grzxbj .selfinfo .rtcont .subgrzl span:nth-of-type(1) {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: #757575;
  width: 70px;
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
}
.grzxbj .selfinfo .rtcont .subgrzl span:nth-of-type(2) {
  display: inline-block;
  font-size: 15px;
  color: #757575;
  width: 480px;
  height: 45px;
  line-height: 45px;
  padding-left: 120px;
}
.grzxbj .selfinfo .rtcont .subgrzl span:nth-of-type(3) {
  display: inline-block;
  font-size: 15px;
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: right;
}
.grzxbj .selfinfo .rtcont .subgrzl span a {
  color: #008080;
}
.grzxbj .selfinfo .rtcont .subgrzl span a:hover {
  color: #ff6700;
}
/*footer*/
footer {
  width: 100%;
  height: 120px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background: #fafafa;
  padding: 30px 0;
}
