/*header*/
header {
  display: flex;
  justify-content: cen ter;
  width: 100%;
  height: 40px;
  background-color: #333;
}
header .center {
  width: 1226px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .center > ul {
  flex-shrink: 0;
  display: flex;
  width: 612px;
}
header .center ul li a {
  display: flex;
  align-items: center;
  height: 12px;
  font-size: 12px;
  color: #b0b0b0;
  padding: 0 8px;
  border-right: 1px solid #b0b0b0;
}
header .center ul li:last-of-type a {
  border-right: none;
}
header .center .fr {
  display: flex;
  width: 308px;
  height: 40px;
}
header .center .fr ul {
  display: flex;
  align-items: center;
  width: 149px;
  height: 100%;
}
header .center .fr .shopcart {
  display: flex;
  width: 120px;
  font-size: 12px;
  color: #fff;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
  background-color: #ff6700;
}
/*banner_x*/
.banner_x {
  width: 1226px;
  height: 100px;
}
.banner_x .logo {
  background: url("../image/logo_top.png") no-repeat center center;
  width: 50px;
  height: 100px;
}
.banner_x .ad_top {
  width: 180px;
  height: 100px;
  background: url("../image/yyymix.gif") no-repeat center center;
}
.banner_x .nav ul li {
  float: left;
  height: 100px;
  line-height: 100px;
}
.banner_x .nav ul li a {
  display: inline-block;
  color: #000;
  font-size: 16px;
  padding: 0 10px;
}
.banner_x .nav ul li a:hover {
  color: #ff6700;
}
.banner_x .search {
  width: 308px;
  height: 100px;
  line-height: 100px;
}
.banner_x .search .text {
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  margin-top: 25px;
  border: 1px solid #ccc;
}
.banner_x .search .text:hover {
  border-color: #ff6700;
}
.banner_x .search .text .shuru {
  border: none;
  width: 250px;
  height: 50px;
}
.banner_x .search .submit {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  margin-top: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.banner_x .search .submit:active {
  background-color: #ff6700;
  color: #fff;
}
/*footer*/
footer {
  width: 100%;
  height: 120px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background: #fafafa;
  padding: 30px 0;
}
/*xiangqing*/
.xiangqing {
  width: 100%;
  height: 58px;
  background: #f0f0f0;
}
.xiangqing .neirong {
  height: 58px;
  width: 1226px;
}
.xiangqing .neirong .xiaomi6 {
  width: 300px;
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  font-weight: bold;
}
.xiangqing .neirong nav {
  display: inline-block;
  width: 410px;
  height: 58px;
  line-height: 58px;
}
.xiangqing .neirong nav li {
  font-size: 14px;
  float: left;
  display: block;
  margin: 0px 5px;
}
.xiangqing .neirong nav li a {
  color: #333;
  font-size: 14px;
}
.xiangqing .neirong nav li a:hover {
  color: #ff6700;
}
/*jieshao*/
.jieshao {
  height: 560px;
}
.jieshao .left {
  width: 560px;
  height: 560px;
  border: 1px solid #ccc;
}
.jieshao .left >img {
  width: 100%;
  height: 100%;
}
.jieshao .left:hover .smallbox {
  display: block;
}
.jieshao .left:hover .bigbox {
  display: block;
}
.jieshao .left .smallbox {
  display: none;
  background-color: rgba(0,255,0,0.3);
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
}
.jieshao .left .bigbox {
  display: none;
  width: 560px;
  height: 560px;
  position: absolute;
  top: -1px;
  right: -562px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.jieshao .left .bigbox >img {
  position: absolute;
  left: 0;
  top: 0;
  height: 1120px;
  width: 1120px;
}
.jieshao .left .hiddenbox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.jieshao .right {
  width: 620px;
  background: #f8f8f8;
  height: 600px;
}
.jieshao .right .jianjie {
  font-size: 14px;
  color: #b0b0b0;
  line-height: 20px;
}
.jieshao .right .jiage {
  font-size: 18px;
  color: #ff6700;
  font-weight: bold;
}
.jieshao .right .xzbb {
  height: 58px;
  line-height: 58px;
}
.jieshao .right .xzbb .banben {
  height: 58px;
  line-height: 58px;
  width: 278px;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #bbb;
}
.jieshao .right .xzbb .banben a {
  display: block;
  font-size: 18px;
  color: #000;
  padding: 0 10px;
}
.jieshao .right .xzbb .banben a span {
  display: inline-block;
  margin-right: 10px;
}
.jieshao .right .xzbb .banben a:hover {
  color: #ff6700;
}
.jieshao .right .xzbb .banben a .yuandian {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #000;
  margin-left: 80px;
}
.jieshao .right .xzbb .banben:hover {
  border: 1px solid #ff6700;
}
/*选取详情*/
.xqxq {
  height: 80px;
  width: 555px;
  background: #fff;
  padding: 20px;
}
/*是否下单*/
.xiadan {
  height: 50px;
  line-height: 50px;
}
.xiadan .jrgwc {
  height: 50px;
  width: 200px;
  border: none;
  background: #ff6700;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 50px;
}
.xiadan .jrgwc:hover {
  border: 1px solid #fff;
}
